<body class="books"></body>
<%= form_with model: @author, local: true do |form| %>
  <% if @author.errors.any? %>
    <div id = "error_explanation">
      <h2>
        <%= pluralize(@author.errors.count, "error") %> prohibited
        this article form being saved:
      </h2>
      <ul>
        <% @author.errors.full_messages.each do |msg| %>
          <li>
            <%= msg %>
          </li>
        <% end %>
      </ul>
    </div>
  <% end %>
    <div class="container form">
    <div class = "col-sm-6">
      <div class = "form-area">  
        <form role = "form">
          <br >
            <h3>New Author</h3>
            <div class = "form-group">
              <%= form.text_field :name, class: "form-control", placeholder: "Name"%>
            </div>
            <div class = "form-group">
             <%= form.text_area :bio, class: "form-control", placeholder: "Biography" %>
            </div>
            <div class = "form-group">
              <%= form.select :book_ids,
                @books.all.pluck(:title, :id),
                {},
                { multiple: true, class: "selectize", placeholder: "Choose the book:"}
              %>
            </div>
            <p>
              <%= form.submit class: "btn btn-primary pull-right" %>
            </p>
        </form>
      </div>
    </div>
</div>
<% end %>

