<body class = "show_author"></body>
<div class = "container">
  <div class = "row"> 
    <div class = "col-sm-3">
      <%=
        link_to(
          'Edit author',
          edit_author_path(@author),
          class: "btn btn-primary pull-right"
        )
      %>
      <%= 
        link_to(
          'Delete',
          author_path(@author),
          method: :delete,
          data: { confirm: 'Are you sure?' },
          class: "btn btn-primary pull-right"
        )
      %>
      <% if @author.image.attached? %>
        <p>
          <%=
            image_tag(
              (@author.image),
              alt: "image",
              class: "img-fluid img-thumbnail"
            )
          %>
        </p>
         <% else %>
        <p>
          <%=
            image_tag(
              ("https://upload.wikimedia.org/wikipedia/commons/f/fc/No_picture_available.png"),
              alt: "no_image",
              class: "img-fluid img-thumbnail"
            )  
          %>
        </p>
      <% end %>
    </div>
    <div class = "col-sm">
      <p>
        <strong>Name:</strong>
        <%= @author.name %>
      </p>
      <p>
        <strong>Biography:</strong>
        <%= @author.bio %>
      </p>
      <p>
        <strong>Book authors:</strong>
        <%= @author.books.map(&:title) %>
      </p>
    </div>
  </div>
  <div class = "lft">
    <div class = "col" id = "comments">
      <h3>
        <%= @author.comments.count %> Comments 
      </h3>
      <%= render @author.comments %>
      <h5>
        Add a comment:
      </h5>
      <%= render 'comments/form1' %>
    </div>
  </div>
</div>
<%= link_to 'Back', authors_path ,class: "btn btn-primary pull-right" %>
