<body class="books"></body>
<%= form_with model: @book, local: true do |form| %>
  <% if @book.errors.any? %>
    <div id = "error_explanation">
      <h2>
        <%= pluralize(@book.errors.count, "error") %> prohibited
        this article form being saved:
      </h2>
      <ul>
        <% @book.errors.full_messages.each do |msg| %>
          <li>
            <%= msg %>
          </li>
        <% end %>
      </ul>
    </div>
  <% end %>
    <div class="container form">
    <div class = "col-sm-6">
      <div class = "form-area">  
        <form role = "form">
          <br >
            <h3>New Book</h3>
            <div class = "form-group">
              <%= form.text_field :title, class: "form-control", placeholder: "Title"%>
            </div>
            <div class = "form-group">
               <%= form.text_field   :isbn, class: "form-control", placeholder: "isbn"%>
            </div>
            <div class = "form-group">
             <%= form.text_area :description, class: "form-control", placeholder: "Description" %>
            </div>
            <div class = "form-group">
              <%= form.select :author_ids,
                @authors.all.pluck(:name, :id),
                {},
                { multiple: true, class: "selectize", placeholder: "Choose the author:"}
              %>
            </div>
            <p>
              <%= form.submit class: "btn btn-primary pull-right" %>
            </p>
        </form>
      </div>
    </div>
</div>
<% end %>
