<body class = "show_book"></body>
<div class = "container">
  <div class = "row">
    <div class = "col-sm-3">
      <%=
        link_to(
          'Edit Book',
          edit_book_path(@book),
          class: "btn btn-primary pull-right"
        )
      %>
      <%= 
        link_to(
          'Delete',
          book_path(@book),
          method: :delete,
          data: { confirm: 'Are you sure?' },
          class: "btn btn-primary pull-right"
        )
      %>
      <% if @book.image.attached? %>
        <p>
          <%=
            image_tag(
              (@book.image),
              alt: "image",
              class: "img-fluid img-thumbnail"
            )
          %>
        </p>
        <% else %>
        <p>
          <%=
            image_tag(
              ("https://upload.wikimedia.org/wikipedia/commons/f/fc/No_picture_available.png"),
              alt: "no_image",
              class: "img-fluid img-thumbnail"
            )
          %>
        </p>
      <% end %>
    </div>
    <div class = "col-sm">
      <p>
        <strong>Title:</strong>
        <%= @book.title %>
      </p>
      <p>
        <strong>Description:</strong>
        <%= @book.description %>
      </p>
      <p>
        <strong>Isbn:</strong>
        <%= @book.isbn %>
      </p>
      <p>
        <strong>Book authors:</strong>
        <%= @book.authors.map(&:name) %>
      </p>
    </div>
  </div>
  <div class = "lft">
    <div class = "col" >
      <h3>
        <%= @book.comments.count %> Comments
      </h3>
      <div  id = "comments" >
      <%= render @book.comments %>
    </div>
      <h5>
        Add a comment:
      </h5>
      <%= render 'comments/form' %>
    </div>
  </div>
</div>
<%= link_to 'Back', books_path ,class: "btn btn-primary pull-right" %>
